/****** Object:  Table [dbo].[APPUSER]    Script Date: 8/27/2017 2:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPUSER](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 8/27/2017 2:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[NUMBER] [nchar](100) NOT NULL,
	[TITLE] [nchar](100) NOT NULL,
	[SKU] [nchar](100) NULL,
	[PRICE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERPRODUCT]    Script Date: 8/27/2017 2:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPRODUCT](
	[USERID] [int] NOT NULL,
	[PRODUCTNUMBER] [nchar](100) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[USERPRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_USERPRODUCT_APPUSER] FOREIGN KEY([USERID])
REFERENCES [dbo].[APPUSER] ([ID])
GO
ALTER TABLE [dbo].[USERPRODUCT] CHECK CONSTRAINT [FK_USERPRODUCT_APPUSER]
GO
ALTER TABLE [dbo].[USERPRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_USERPRODUCT_PRODUCT] FOREIGN KEY([PRODUCTNUMBER])
REFERENCES [dbo].[PRODUCT] ([NUMBER])
GO
ALTER TABLE [dbo].[USERPRODUCT] CHECK CONSTRAINT [FK_USERPRODUCT_PRODUCT]
GO
