/****** Object:  Table [dbo].[CATEGORY]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NOT NULL,
	[DESCRIPTION] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NOT NULL,
	[ADDRESS] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_ORDER]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_ORDER](
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_ID] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_ORDER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[INVOICE_NUMBER] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [nchar](10) NOT NULL,
	[TITLE] [nchar](10) NOT NULL,
	[PRICE] [float] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[PRODUCT_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT_ORDER]    Script Date: 8/27/2017 1:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_ORDER](
	[ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ORDER_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FK_CUSTOMER_ORDER_CUSTOMER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ORDER_ORDER] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FK_CUSTOMER_ORDER_ORDER]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_ORDER_ORDER] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER] CHECK CONSTRAINT [FK_PRODUCT_ORDER_ORDER]
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_ORDER_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER] CHECK CONSTRAINT [FK_PRODUCT_ORDER_PRODUCT]
GO
